/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    background: #f6f6f6;
    min-height: 100%;
}

.page-wrapper {
    width: 700px;
    margin: 0 auto;
    background: #f3f3f3;
    padding: 40px;
    min-height: 100%;
    box-shadow: inset 0 0 3px rgba( 0, 0, 0, 0.2 );
}

.top-container {
    margin-bottom: 50px;
}

#instagram-search select,
#instagram-search input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#instagram-search input[type="submit"] {
    outline: none;
    border: none;
    color: #fff;
    background: #333;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#instagram-search input[type="submit"]:hover {
    background: #666;
}

#instagram-search .ajax-loader {
    margin-left: 15px;
}

#instagram-search .ajax-loader.active {
    display: inline-block;
}

.ajax-loader {
    display: none;
}

#instagram-feed .ajax-loader {
    margin: 20px auto;
}

.instagram-post-container {
    margin: 0;
    padding: 0;
}

.instagram-post-container .instagram-post {
    list-style: none;
    margin-bottom: 40px;
    box-shadow: 0 0 3px rgba( 0, 0, 0, 0.2 );
}

.instagram-post-container .instagram-post .instagram-image-container {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.instagram-post-container .instagram-post .instagram-image-container img {
    width: 100%;
}

.instagram-post-container .instagram-post .instagram-meta-data {
    background: #fff;
    border-radius: 0 0 5px 5px;
}

.instagram-post-container .instagram-post .instagram-meta-top {
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
}

.instagram-post-container .instagram-post .instagram-meta-top > div {
    display: table-cell;
    float: none;
}

.instagram-post .instagram-meta-top .instagram-user {
    width: 25%;
    padding-left: 15px;
    border-right: 1px solid #ddd;
    font-size: 11px;
    font-weight: bold;
}

.instagram-post .instagram-meta-top .instagram-user img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.instagram-post .instagram-meta-top .instagram-tags {
    font-size: 10px; font-weight: bold; text-transform: lowercase;
    width: 63%;
    text-align: center;
    border-right: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
}

.instagram-post .instagram-meta-top .instagram-likes {
    width: 12%;
    padding-left: 15px;
}

.instagram-post .instagram-meta-top .instagram-likes p {
    padding-left: 30px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 11px;
    min-height: 25px;
    line-height: 25px;
    background: url( '../img/heart-icon.png' ) no-repeat left center;
}

















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-MODel-ratio: 5/4),
       (-webkit-min-device-MODel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}