<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>


        <div class="page-wrapper">
            <div class="top-container">
                <div id="instagram-search">
                    <input type="text" name="instagram-search-term" class="instagram-search-term" placeholder="javascript">
                    <input type="submit" name="instagram-search-submit" class="instagram-search-submit" value="Search Instagram">
                    <img src="img/ajax-loader.gif" alt="" class="ajax-loader" />
                </div>
            </div>

            <div class="content-wrapper">
                <div id="instagram-feed">
                    <img src="img/ajax-loader.gif" alt="" class="ajax-loader" />
                    <ul class="instagram-post-container">

                    </ul>
                    <script type="text/template" id="instagram_post_template">
                                <li class="instagram-post">
                                    <div class="instagram-image-container">
                                        <img src="<%= images.standard_resolution.url %>" class="instagram-image" />
                                    </div>
                                    <div class="instagram-meta-data">
                                        <div class="instagram-meta-top">
                                            <div class="instagram-user">
                                                <img src="<%= user.profile_picture %>" class="instagram-user-profile-img" />
                                                <span class="instagram-username"><%= user.username %></span>
                                            </div>
                                            <div class="instagram-tags">
                                                <p><%= tags.join( ', ' ) %></p>
                                            </div>
                                            <div class="instagram-likes">
                                                <p><%= likes.count %></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                    </script>
                </div>
            </div>
        </div>
        <script src="src/vendor/jquery-1.10.1.min.js"></script>
        <script src="dist/mod.0.1.0.min.js"></script>
        <script src="src/config.js"></script>
        <script src="src/modules.js"></script>
        <script src="src/scripts.js"></script>
    </body>
</html>
